ApartmentApps.Modules.Prospect/Service References/IDScan/DriverLicenseParser.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://dlpws.idware.net" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DriverLicenseParser" targetNamespace="http://dlpws.idware.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="Release_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://dlpws.idware.net/Imports">
      <xsd:import schemaLocation="http://app1.idware.net/DriverLicenseParser.svc?xsd=xsd0" namespace="http://dlpws.idware.net" />
      <xsd:import schemaLocation="http://app1.idware.net/DriverLicenseParser.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDriverLicenseParser_ParseBase64Utf16String_InputMessage">
    <wsdl:part name="parameters" element="tns:ParseBase64Utf16String" />
  </wsdl:message>
  <wsdl:message name="IDriverLicenseParser_ParseBase64Utf16String_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParseBase64Utf16StringResponse" />
  </wsdl:message>
  <wsdl:message name="IDriverLicenseParser_ParseBase64AsciiString_InputMessage">
    <wsdl:part name="parameters" element="tns:ParseBase64AsciiString" />
  </wsdl:message>
  <wsdl:message name="IDriverLicenseParser_ParseBase64AsciiString_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParseBase64AsciiStringResponse" />
  </wsdl:message>
  <wsdl:message name="IDriverLicenseParser_ParseBase64Binary_InputMessage">
    <wsdl:part name="parameters" element="tns:ParseBase64Binary" />
  </wsdl:message>
  <wsdl:message name="IDriverLicenseParser_ParseBase64Binary_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParseBase64BinaryResponse" />
  </wsdl:message>
  <wsdl:message name="IDriverLicenseParser_ParseString_InputMessage">
    <wsdl:part name="parameters" element="tns:ParseString" />
  </wsdl:message>
  <wsdl:message name="IDriverLicenseParser_ParseString_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParseStringResponse" />
  </wsdl:message>
  <wsdl:message name="IDriverLicenseParser_ParseImage_InputMessage">
    <wsdl:part name="parameters" element="tns:ParseImage" />
  </wsdl:message>
  <wsdl:message name="IDriverLicenseParser_ParseImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParseImageResponse" />
  </wsdl:message>
  <wsdl:message name="IDriverLicenseParser_ParseBase64EncodedImage_InputMessage">
    <wsdl:part name="parameters" element="tns:ParseBase64EncodedImage" />
  </wsdl:message>
  <wsdl:message name="IDriverLicenseParser_ParseBase64EncodedImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParseBase64EncodedImageResponse" />
  </wsdl:message>
  <wsdl:message name="IDriverLicenseParser_Echo_InputMessage">
    <wsdl:part name="parameters" element="tns:Echo" />
  </wsdl:message>
  <wsdl:message name="IDriverLicenseParser_Echo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EchoResponse" />
  </wsdl:message>
  <wsdl:portType name="IDriverLicenseParser">
    <wsdl:operation name="ParseBase64Utf16String">
      <wsdl:input wsaw:Action="http://dlpws.idware.net/IDriverLicenseParser/ParseBase64Utf16String" message="tns:IDriverLicenseParser_ParseBase64Utf16String_InputMessage" />
      <wsdl:output wsaw:Action="http://dlpws.idware.net/IDriverLicenseParser/ParseBase64Utf16StringResponse" message="tns:IDriverLicenseParser_ParseBase64Utf16String_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParseBase64AsciiString">
      <wsdl:input wsaw:Action="http://dlpws.idware.net/IDriverLicenseParser/ParseBase64AsciiString" message="tns:IDriverLicenseParser_ParseBase64AsciiString_InputMessage" />
      <wsdl:output wsaw:Action="http://dlpws.idware.net/IDriverLicenseParser/ParseBase64AsciiStringResponse" message="tns:IDriverLicenseParser_ParseBase64AsciiString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParseBase64Binary">
      <wsdl:input wsaw:Action="http://dlpws.idware.net/IDriverLicenseParser/ParseBase64Binary" message="tns:IDriverLicenseParser_ParseBase64Binary_InputMessage" />
      <wsdl:output wsaw:Action="http://dlpws.idware.net/IDriverLicenseParser/ParseBase64BinaryResponse" message="tns:IDriverLicenseParser_ParseBase64Binary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParseString">
      <wsdl:input wsaw:Action="http://dlpws.idware.net/IDriverLicenseParser/ParseString" message="tns:IDriverLicenseParser_ParseString_InputMessage" />
      <wsdl:output wsaw:Action="http://dlpws.idware.net/IDriverLicenseParser/ParseStringResponse" message="tns:IDriverLicenseParser_ParseString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParseImage">
      <wsdl:input wsaw:Action="http://dlpws.idware.net/IDriverLicenseParser/ParseImage" message="tns:IDriverLicenseParser_ParseImage_InputMessage" />
      <wsdl:output wsaw:Action="http://dlpws.idware.net/IDriverLicenseParser/ParseImageResponse" message="tns:IDriverLicenseParser_ParseImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParseBase64EncodedImage">
      <wsdl:input wsaw:Action="http://dlpws.idware.net/IDriverLicenseParser/ParseBase64EncodedImage" message="tns:IDriverLicenseParser_ParseBase64EncodedImage_InputMessage" />
      <wsdl:output wsaw:Action="http://dlpws.idware.net/IDriverLicenseParser/ParseBase64EncodedImageResponse" message="tns:IDriverLicenseParser_ParseBase64EncodedImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <wsdl:input wsaw:Action="http://dlpws.idware.net/IDriverLicenseParser/Echo" message="tns:IDriverLicenseParser_Echo_InputMessage" />
      <wsdl:output wsaw:Action="http://dlpws.idware.net/IDriverLicenseParser/EchoResponse" message="tns:IDriverLicenseParser_Echo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Release" type="tns:IDriverLicenseParser">
    <wsp:PolicyReference URI="#Release_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ParseBase64Utf16String">
      <soap:operation soapAction="http://dlpws.idware.net/IDriverLicenseParser/ParseBase64Utf16String" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseBase64AsciiString">
      <soap:operation soapAction="http://dlpws.idware.net/IDriverLicenseParser/ParseBase64AsciiString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseBase64Binary">
      <soap:operation soapAction="http://dlpws.idware.net/IDriverLicenseParser/ParseBase64Binary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseString">
      <soap:operation soapAction="http://dlpws.idware.net/IDriverLicenseParser/ParseString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseImage">
      <soap:operation soapAction="http://dlpws.idware.net/IDriverLicenseParser/ParseImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseBase64EncodedImage">
      <soap:operation soapAction="http://dlpws.idware.net/IDriverLicenseParser/ParseBase64EncodedImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <soap:operation soapAction="http://dlpws.idware.net/IDriverLicenseParser/Echo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DriverLicenseParser">
    <wsdl:port name="Release" binding="tns:Release">
      <soap:address location="https://app1.idware.net/DriverLicenseParser.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>