ApartmentApps.Payments.Forte/Service References/PaymentGateway/paymentsgateway.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://paymentsgateway.achdirect.com" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://paymentsgateway.achdirect.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://paymentsgateway.achdirect.com">
      <s:element name="ExecuteSocketDelimitedQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strParameters" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDelimiter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteSocketDelimitedQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteSocketDelimitedQueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteSocketQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pg_merchant_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_transaction_type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_merchant_data_1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_merchant_data_2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_merchant_data_3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_merchant_data_4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_merchant_data_5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_merchant_data_6" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_merchant_data_7" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_merchant_data_8" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_merchant_data_9" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_total_amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_sales_tax_amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_convenience_fee" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_consumer_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ecom_consumerorderid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ecom_walletid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_billto_postal_name_company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ecom_billto_postal_name_first" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ecom_billto_postal_name_last" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ecom_billto_postal_street_line1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ecom_billto_postal_street_line2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ecom_billto_postal_city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ecom_billto_postal_stateprov" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ecom_billto_postal_postalcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ecom_billto_postal_countrycode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ecom_billto_telecom_phone_number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ecom_billto_online_email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_billto_ssn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_billto_dl_number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_billto_dl_state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_billto_date_of_birth" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_entered_by" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_schedule_quantity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_schedule_frequency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_schedule_recurring_amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_schedule_start_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_customer_ip_address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_preauth_no_decline_on_fail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_preauth_decline_on_noanswer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_avs_method" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ecom_payment_card_type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ecom_payment_card_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ecom_payment_card_number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ecom_payment_card_expdate_month" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ecom_payment_card_expdate_year" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ecom_payment_card_verification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_procurement_card" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_customer_acct_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_cc_swipe_data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_mail_or_phone_order" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ecom_payment_check_trn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ecom_payment_check_account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ecom_payment_check_account_type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ecom_payment_check_checkno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_original_trace_number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_original_authorization_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_client_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_payment_method_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pg_entry_class_code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteSocketQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteSocketQueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecuteSocketDelimitedQuerySoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteSocketDelimitedQuery" />
  </wsdl:message>
  <wsdl:message name="ExecuteSocketDelimitedQuerySoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteSocketDelimitedQueryResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteSocketQuerySoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteSocketQuery" />
  </wsdl:message>
  <wsdl:message name="ExecuteSocketQuerySoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteSocketQueryResponse" />
  </wsdl:message>
  <wsdl:portType name="PaymentGatewaySoap">
    <wsdl:operation name="ExecuteSocketDelimitedQuery">
      <wsdl:input message="tns:ExecuteSocketDelimitedQuerySoapIn" />
      <wsdl:output message="tns:ExecuteSocketDelimitedQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteSocketQuery">
      <wsdl:input message="tns:ExecuteSocketQuerySoapIn" />
      <wsdl:output message="tns:ExecuteSocketQuerySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentGatewaySoap" type="tns:PaymentGatewaySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteSocketDelimitedQuery">
      <soap:operation soapAction="http://paymentsgateway.achdirect.com/ExecuteSocketDelimitedQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSocketQuery">
      <soap:operation soapAction="http://paymentsgateway.achdirect.com/ExecuteSocketQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentGatewaySoap12" type="tns:PaymentGatewaySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteSocketDelimitedQuery">
      <soap12:operation soapAction="http://paymentsgateway.achdirect.com/ExecuteSocketDelimitedQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSocketQuery">
      <soap12:operation soapAction="http://paymentsgateway.achdirect.com/ExecuteSocketQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentGateway">
    <wsdl:port name="PaymentGatewaySoap" binding="tns:PaymentGatewaySoap">
      <soap:address location="https://ws.paymentsgateway.net/pgtest/paymentsgateway.asmx" />
    </wsdl:port>
    <wsdl:port name="PaymentGatewaySoap12" binding="tns:PaymentGatewaySoap12">
      <soap12:address location="https://ws.paymentsgateway.net/pgtest/paymentsgateway.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>